:root {
  --forgot-text: rgb(255, 255, 255);
  --input-background-color: #2e2e2e;
  --input-color: gray;
  --input-focused: #ffffff;
  --input-outline: #e40000;
  --main-color: white;
  --main-background-color: #292929;
  --modal-background-color: #444444;
  --modal-hover-color: rgb(102, 102, 102);
  --modal-text: white;
  --nav-background-color: #383838;
  --nav-li-color: white;
  --nav-option-color: white;
  --nav-option-hover: #292929;
  --table-background: #272727;
  --table-border-bottom: #d4d4d4;
  --table-color: white;
  --table-header: #292929;
  --table-header-color: white;
  --text-container-color: #444444;
}

a:visited {
  color: var(--nav-li-color);
}

a:link {
  color: var(--nav-li-color);
}

a {
  text-decoration: none;
  color: var(--nav-li-color);
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* .background-blur { 
background-color: rgba(41, 41, 41, .5);
}  */

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .background-blur {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color);
  color: var(--main-color);
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-family: "Inter", "Roboto", sans-serif;
}

.button {
  background-image: linear-gradient(180deg, rgb(18, 211, 92), rgb(14, 167, 72));
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}
.button-small {
  padding: 3px 9px;
}
.button-medium {
  padding: 6px 16px;
}
.button-large {
  padding: 12px 30px;
}

.button:hover {
  background-image: linear-gradient(
    180deg,
    rgb(53, 197, 108),
    rgb(53, 192, 106)
  );
}

.card {
  max-width: 300px;
  border: 1px var(---table-border-bottom) solid;
  overflow: hidden;
  border-radius: 10px;
  margin: 25px 20px;
  background-color: var(--text-container-color);
  display: inline-block;
}

.card-image {
  position: relative;
  padding: 10px;
}

.card-image img {
  width: 100%;
  z-index: 1;
  border-radius: 10px;
  border: 1px var(--table-border-bottom) solid;
}
.card-text-container {
  margin: 10px;
}

.card-text-container h3 {
  text-align: left;
  margin-top: 5px;
}

.card-text-container p {
  text-align: start;
  font-size: 12px;
}

.card-image-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#exitModal {
  position: absolute;
  top: 4%;
  right: 4%;
  color: white;
  font-size: 14px;
  background-color: rgb(250, 76, 76);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgotText a {
  font-size: 10px;
  color: var(--forgot-text);
  margin: 0px 0px 5px 0px;
  float: right;
}

#forgotText:hover {
  color: rgb(230, 230, 230);
}

/* label {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
} */

.light-mode {
  background-color: rgb(255, 255, 255);
  color: black;
}

.mobile-navigation {
  background-color: #242424;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.mobile-nav-button {
  position: absolute;
  top: 15px;
  left: 15px;
}

.mobile-navigation ul {
  font-size: 35px;
}

/* .mobile-nav-option li {
  display: block;
  margin: 10px;
}  */

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  min-width: 300px;
  max-width: 600px;
  border: 1px rgb(163, 163, 163);
  background-color: var(--modal-background-color);
  color: var(--modal-text);
  font-family: Verdana, Tahoma, sans-serif;
  font-family: "Inter", "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.modal:hover {
  cursor: pointer;
  position: absolute;
  background-color: var(--modal-hover-color);
}

/* .modal:hover::after {
  transition: 0.5s all ease;
  position: absolute;
  content: "";
} */

.modal-container {
  padding: 20px;
  margin: 30px;
  font-size: 10px;
}

.modal-container input {
  border-radius: 1px;
  min-width: 250px;
  padding: 8px;
  margin-bottom: 4px;
  border: none;
  color: var(--input-color);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  background-color: var(--input-background-color);
  outline: none;
}

.modal-container input:focus {
  background-color: var(--input-focused);
}

.nav-button {
  display: none;
}
#root {
  margin-top: 50px;
}
.navigation-nav {
  width: 100%;
  background-color: var(--nav-background-color);
  position: fixed;
  top: 0;
  z-index: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

nav li {
  color: var(--nav-li-color);
}

nav .nav-option {
  text-decoration: none;
  color: var(--nav-option-color);
  font-size: 12px;
  font-family: Verdana, Tahoma, sans-serif;
  font-family: "Inter", "Roboto", sans-serif;
  /*background-color: linear-gradient(180deg, rgb(90, 167, 255), rgb(80, 80, 241));*/
  /* background-color: #3B01E1; */
  padding: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  margin-left: 15px;
  transition: ergb(32, 32, 32);
}

.nav-option:hover {
  cursor: pointer;
  background-color: var(--nav-option-hover);
  /* background-color: #3B01E1; */
}

.nav-button {
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 26px;
  padding: 2px 8px;
  outline: none;
}

.nav_vertical {
  display: block;
}

/*nav .login {
position: absolute;
right: 30px;
top: 30px;
color:rgb(146, 157, 255);
}
*/

.page-selected {
  background-color: rgb(0, 255, 21);
  font-size: 20px;
  border: 1px rgb(126, 126, 126) solid;
  border-radius: 4px;
  color: white;
}

.page-item {
  margin-left: 10px;
}

.pagination-nav {
  display: flex;
  justify-content: right;
}

table,
th,
td {
  border-collapse: collapse;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  padding: 12px;
}

td {
  width: 100px;
  text-align: center;
}

th {
  background-color: var(--table-header);
  color: var(--table-header-color);
}

/*th:hover {background-color: rgb(202, 201, 201);}
td:hover {background-color: rgb(148, 180, 250);}

tr:nth-child(even) {
  background-color: rgb(242, 248, 253);
}

tr:nth-child(odd) {
  background-color: rgb(239, 239, 239);
}
*/

.tableButton {
  background-image: linear-gradient(
    180deg,
    rgb(129, 129, 129),
    rgb(116, 116, 116)
  );
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}

.tableButton-selected {
  background-image: linear-gradient(180deg, rgb(18, 211, 92), rgb(14, 167, 72));
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}

.tableholder tr td {
  border-bottom: var(--table-border-bottom) 1px solid;
  border-radius: 5px;
}

.table-input-style {
  padding: 5px;
  margin: 5px;
  outline: none;
  border-radius: 5px;
}

.tableholder {
  background-color: var(--table-background);
  /* overflow-y: auto; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  color: var(--table-color);
  /* border-radius: 500px; */
  padding-bottom: 20px;
}

.tableholder table {
  margin: 0 auto;
  width: 95%;
  border: 1px rgba(216, 216, 216, 0.027) solid;
}

ul {
  margin: -0;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.text-container {
  margin: 0 10% 0 10%;
  background-color: var(--text-container-color);
  border-radius: 5px;
  padding: 8px 20px;
  margin-top: 20px;
}

/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@media only screen and (max-width: 500px) {
  .mobile-nav-container {
    display: block;
  }

  .navigation-nav ul {
    margin-left: 0px;
  }

  .nav-button {
    float: right;
    display: block;
  }

  nav .nav-option {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 12px;
  }

  .non-mobile {
    display: none;
  }

  .tableholder {
    margin-left: 0px;
    margin-right: 0px;
  }

  .text-container {
    margin-left: 0;
    margin-right: 0;
  }
}
