body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #292929;
}
a:visited {
  color: inherit;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

table, th, td {
  border-collapse: collapse;
}

th, td {
padding: 5px;
font-family: Verdana, Tahoma, sans-serif;
font-size: 20px;
}

table, th, td {
  border-collapse: collapse;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 15px;
}

th, td {
  padding: 12px;
}

th {
  background-color: #CDD6DD;
  color: rgb(51, 51, 51);
}

td {
  width: 100px;
  text-align: center;
}

th:hover {background-color: rgb(146, 157, 255);}
td:hover {background-color: rgb(148, 180, 250);}
tr:nth-child(even) {background-color: rgb(242, 248, 253);}

label {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
}

nav {
  width: 100vw;
  background-color: #444444;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: -0;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
} 

nav li {
  margin-right: 15px;
  color: rgb(255, 255, 255);
}

nav .nav-option{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
  font-family: 'Inter', 'Roboto', sans-serif;
  /*background-color: linear-gradient(180deg, rgb(90, 167, 255), rgb(80, 80, 241));*/
  /* background-color: #3B01E1; */
  padding: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  transition: ergb(32, 32, 32);  
}
.nav-option:hover {
  cursor: pointer;
  background-color: #292929;
  
  
  /* background-color: #3B01E1; */
}

/*nav .login {
position: absolute;
right: 30px;
top: 30px;
color:rgb(146, 157, 255);
}
*/
.modal {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
min-height: 200px;
min-width: 300px;
max-width: 600px;
border: 1px rgb(163, 163, 163);
background-color: #444444;
color: rgb(255, 255, 255);
font-family: Verdana, Tahoma, sans-serif;
font-family: 'Inter', 'Roboto', sans-serif;
border-radius: 20px;
}

 .modal:hover {
  cursor: pointer;
  position: absolute;
  background-color: #474747;
  } 
  
  /* .modal:hover::after {
    transition: 0.5s all ease;
    position: absolute;
    content: "";
    
    
    } */
  
.modal-container {
padding: 20px;
margin: 30px;
font-size: 10px;

}

.modal-container input {
  border-radius: 1px;
  min-width: 250px;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: none;
  color: rgb(209, 209, 209);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
  background-color: rgb(48, 48, 48);
  outline:none;
}

.modal-container input:focus{
background-color: rgb(55, 55, 55);
}

#forgotText {
  font-size: 10px;
  color: rgb(255, 255, 255);
  margin: 0px 0px 5px 0;
  float: right;
}
#forgotText:hover {
  color: rgb(230, 230, 230)
}

#login {
  margin-right: 20px;
  color: white;
  
}

#login:hover {
  background-color: rgb(18, 211, 92);
}


#exitModal {
  position: absolute;
  top: 4%;
  right: 4%;
  color: white;
  font-size: 15px;
  background-color: rgb(250, 76, 76);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
background-image: linear-gradient(180deg, rgb(18, 211, 92), rgb(14, 167, 72) );
padding: 6px 16px;
border: none;
border-radius: 5px;
color: white;
font-size: 16px;
}

